@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden
}

.center {
    @apply flex items-center justify-center;
}

.big-text {
    font-size: clamp(4rem,14.65vw,65vh);
}



::-webkit-scrollbar {
    width: 5px;
    /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: #000000;
    /* Color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
    background: #4a4a4a;
    /* Color of the scrollbar thumb */
    border-radius: 5px;
    /* Rounded corners for the thumb */
}

.green-mask {
    mask-image: url("/green-mask.svg");
    mask-position: center;
    mask-size: cover;
    mask-repeat: no-repeat;
    background-color: rgb(21, 1, 1);
}

.text-stroke-red {
    -webkit-text-stroke: 2px red; 
}